.gradle/*
build/*
*.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.zip
*.sh
!bin/*.sh
!_lambda/*.sh
lib
_lambda/random-name/node_modules/*
