option_settings:
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: "false"
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    IgnoreHealthCheck: "true"
    Timeout: 300
  aws:elasticbeanstalk:monitoring:
    Automatically Terminate Unhealthy Instances: "false"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
commands:
  01-clear-logs:
    command: cd /var/log/ && rm nginx/* && mv *.gz rotated
    ignoreErrors: true
