Resources:
  UserTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: scorekeep-user
      KeySchema:
        HashKeyElement: {AttributeName: id, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}
  SessionTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: scorekeep-session
      KeySchema:
        HashKeyElement: {AttributeName: id, AttributeType: S}
      ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}
  GameTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: scorekeep-game
      AttributeDefinitions:
        - AttributeName: "id"
          AttributeType: "S"
        - AttributeName: "session"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "id"
          KeyType: "HASH"
      GlobalSecondaryIndexes:
        - IndexName: "session-index"
          KeySchema:
            - AttributeName: "session"
              KeyType: "HASH"
          ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}
          Projection: { ProjectionType: ALL }
      ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}
  MoveTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: scorekeep-move
      AttributeDefinitions:
        - AttributeName: "id"
          AttributeType: "S"
        - AttributeName: "game"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "id"
          KeyType: "HASH"
      GlobalSecondaryIndexes:
        - IndexName: "game-index"
          KeySchema:
            - AttributeName: "game"
              KeyType: "HASH"
          ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}
          Projection: { ProjectionType: ALL }
      ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}
  StateTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: scorekeep-state
      AttributeDefinitions:
        - AttributeName: "id"
          AttributeType: "S"
        - AttributeName: "game"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "id"
          KeyType: "HASH"
      GlobalSecondaryIndexes:
        - IndexName: "game-index"
          KeySchema:
            - AttributeName: "game"
              KeyType: "HASH"
          ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}
          Projection: { ProjectionType: ALL }
      ProvisionedThroughput: {ReadCapacityUnits: 5, WriteCapacityUnits: 5}

