commands:
  install-npm:
    command: sudo -u ec2-user /tmp/install-npm.sh
    cwd: /home/ec2-user
    test: "[ ! -d /home/ec2-user/.nvm ]"

packages:
  python:
    awscli: 1.11.79
container_commands:
  update-random-name:
    command: /tmp/update-lambda.sh
    leader_only: true

files:
  "/tmp/install-npm.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.1/install.sh | bash
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm install 4.3.2
      mkdir -p /home/ec2-user/bin
      ln -fs /home/ec2-user/.nvm/versions/node/v4.3.2/bin/npm /home/ec2-user/bin/npm
      ln -fs /home/ec2-user/.nvm/versions/node/v4.3.2/bin/node /home/ec2-user/bin/node

  "/tmp/update-lambda.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      REGION=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_REGION)
      STAGINGDIR=$(/opt/elasticbeanstalk/bin/get-config container -k container_staging_dir)
      TOPIC=$(/opt/elasticbeanstalk/bin/get-config environment -k NOTIFICATION_TOPIC)
      cd _lambda/random-name
      /home/ec2-user/bin/npm install
      zip -r ../random-name.zip *
      aws lambda update-function-code --function-name random-name --zip-file fileb://../random-name.zip --region $REGION
      aws lambda update-function-configuration --function-name random-name --environment "{\"Variables\": {\"TOPIC_ARN\": \"$TOPIC\"} }" --region $REGION
      if [ $? -ne 0 ]
      then
      echo "Lambda function random-name not found"
      fi
      exit 0
