<div id="main">
  <div id="main-user">
    <div class="section-header">Username</div>
    <div id="usernamef" class="field"><input name="user" ng-model="username"></div>
  </div>
  <div id="main-session">
    <div class="section-header">Session</div>
    <div id="sessionnamef" class="field"><input name="name" ng-model="sessionname"></div>
    <div id="create" class="button" ng-click="createSession(sessionname, username)">Create</div>
    <div id="sessionid" class="field"><input name="sessionid" ng-model="sessionid" placeholder="session ID"></div>
    <div id="join" class="button" ng-click="joinSession(sessionid, username)">Join</div>
  </div>
</div>