<div id="game_rolit">
    <div id="user"><h6>{{ user.name}}</h6></div>
    <div class="sub-header">{{game.name}}</div>
    <div id="win message">{{ winner }}</div>
    <div class="gameboard" display="inline" float="left">
        <div class="row_rolit">
            <div class="{{color_id(1)}}" ng-click="move(1)">&nbsp;</div>
            <div class="{{color_id(2)}}" ng-click="move(2)">&nbsp;</div>
            <div class="{{color_id(3)}}" ng-click="move(3)">&nbsp;</div>
            <div class="{{color_id(4)}}" ng-click="move(4)">&nbsp;</div>
            <div class="{{color_id(5)}}" ng-click="move(5)">&nbsp;</div>
            <div class="{{color_id(6)}}" ng-click="move(6)">&nbsp;</div>
            <div class="{{color_id(7)}}" ng-click="move(7)">&nbsp;</div>
            <div class="{{color_id(8)}}" ng-click="move(8)">&nbsp;</div>
        </div>
        <div class="row_rolit">
            <div class="{{color_id(9)}}" ng-click="move(9)">&nbsp;</div>
            <div class="{{color_id(10)}}" ng-click="move(10)">&nbsp;</div>
            <div class="{{color_id(11)}}" ng-click="move(11)">&nbsp;</div>
            <div class="{{color_id(12)}}" ng-click="move(12)">&nbsp;</div>
            <div class="{{color_id(13)}}" ng-click="move(13)">&nbsp;</div>
            <div class="{{color_id(14)}}" ng-click="move(14)">&nbsp;</div>
            <div class="{{color_id(15)}}" ng-click="move(15)">&nbsp;</div>
            <div class="{{color_id(16)}}" ng-click="move(16)">&nbsp;</div>
        </div>
        <div class="row_rolit">
            <div class="{{color_id(17)}}" ng-click="move(17)">&nbsp;</div>
            <div class="{{color_id(18)}}" ng-click="move(18)">&nbsp;</div>
            <div class="{{color_id(19)}}" ng-click="move(19)">&nbsp;</div>
            <div class="{{color_id(20)}}" ng-click="move(20)">&nbsp;</div>
            <div class="{{color_id(21)}}" ng-click="move(21)">&nbsp;</div>
            <div class="{{color_id(22)}}" ng-click="move(22)">&nbsp;</div>
            <div class="{{color_id(23)}}" ng-click="move(23)">&nbsp;</div>
            <div class="{{color_id(24)}}" ng-click="move(24)">&nbsp;</div>

        </div>
        <div class="row_rolit">
            <div class="{{color_id(25)}}" ng-click="move(25)" >&nbsp;</div>
            <div class="{{color_id(26)}}" ng-click="move(26)" >&nbsp;</div>
            <div class="{{color_id(27)}}" ng-click="move(27)">&nbsp;</div>
            <div class="{{color_id(28)}}" ng-click="move(28)" >&nbsp;</div>
            <div class="{{color_id(29)}}" ng-click="move(29)">&nbsp;</div>
            <div class="{{color_id(30)}}" ng-click="move(30)">&nbsp;</div>
            <div class="{{color_id(31)}}" ng-click="move(31)">&nbsp;</div>
            <div class="{{color_id(32)}}" ng-click="move(32)">&nbsp;</div>

        </div>
        <div class="row_rolit">
            <div class="{{color_id(33)}}" ng-click="move(33)">&nbsp;</div>
            <div class="{{color_id(34)}}" ng-click="move(34)">&nbsp;</div>
            <div class="{{color_id(35)}}" ng-click="move(35)">&nbsp;</div>
            <div class="{{color_id(36)}}" ng-click="move(36)">&nbsp;</div>
            <div class="{{color_id(37)}}" ng-click="move(37)">&nbsp;</div>
            <div class="{{color_id(38)}}" ng-click="move(38)">&nbsp;</div>
            <div class="{{color_id(39)}}" ng-click="move(39)">&nbsp;</div>
            <div class="{{color_id(40)}}" ng-click="move(40)">&nbsp;</div>
        </div>
        <div class="row_rolit">
            <div class="{{color_id(41)}}" ng-click="move(41)">&nbsp;</div>
            <div class="{{color_id(42)}}" ng-click="move(42)">&nbsp;</div>
            <div class="{{color_id(43)}}" ng-click="move(43)">&nbsp;</div>
            <div class="{{color_id(44)}}" ng-click="move(44)">&nbsp;</div>
            <div class="{{color_id(45)}}" ng-click="move(45)">&nbsp;</div>
            <div class="{{color_id(46)}}" ng-click="move(46)">&nbsp;</div>
            <div class="{{color_id(47)}}" ng-click="move(47)">&nbsp;</div>
            <div class="{{color_id(48)}}" ng-click="move(48)">&nbsp;</div>

        </div>
        <div class="row_rolit">
            <div class="{{color_id(49)}}" ng-click="move(49)">&nbsp;</div>
            <div class="{{color_id(50)}}" ng-click="move(50)">&nbsp;</div>
            <div class="{{color_id(51)}}" ng-click="move(51)">&nbsp;</div>
            <div class="{{color_id(52)}}" ng-click="move(52)">&nbsp;</div>
            <div class="{{color_id(53)}}" ng-click="move(53)">&nbsp;</div>
            <div class="{{color_id(54)}}" ng-click="move(54)">&nbsp;</div>
            <div class="{{color_id(55)}}" ng-click="move(55)">&nbsp;</div>
            <div class="{{color_id(56)}}" ng-click="move(56)">&nbsp;</div>

        </div>
        <div class="row_rolit">
            <div class="{{color_id(57)}}" ng-click="move(57)">&nbsp;</div>
            <div class="{{color_id(58)}}" ng-click="move(58)">&nbsp;</div>
            <div class="{{color_id(59)}}" ng-click="move(59)">&nbsp;</div>
            <div class="{{color_id(60)}}" ng-click="move(60)">&nbsp;</div>
            <div class="{{color_id(61)}}" ng-click="move(61)">&nbsp;</div>
            <div class="{{color_id(62)}}" ng-click="move(62)">&nbsp;</div>
            <div class="{{color_id(63)}}" ng-click="move(63)">&nbsp;</div>
            <div class="{{color_id(64)}}" ng-click="move(64)">&nbsp;</div>

        </div>


    </div>
    <div class="{{gs()}}"></div>
</div>