<div id="game">
    <div id="user"><h6>{{ user.name}}</h6></div>
    <div class="sub-header">{{game.name}}</div>
    <div id="win message">{{ winner }}</div>
    <div class="gameboard">
        <div class="row">
            <div class="square" ng-click="move(1)" [style.background-color]=${color[1]}">&nbsp;</div>
            <div class="square" ng-click="move(2)" [style.background-color]=${color[2]}>&nbsp;</div>
            <div class="square" ng-click="move(3)" [style.background-color]=${color[3]}>&nbsp;</div>
            <div class="square" ng-click="move(4)" [style.background-color]=${color[4]}>&nbsp;</div>
            <div class="square" ng-click="move(5)" [style.background-color]=${color[5]}>&nbsp;</div>
            <div class="square" ng-click="move(6)" [style.background-color]=${color[6]}>&nbsp;</div>
            <div class="square" ng-click="move(7)" [style.background-color]=${color[7]}>&nbsp;</div>
            <div class="square" ng-click="move(8)" [style.background-color]=${color[8]}>&nbsp;</div>
        </div>
        <div class="row">
            <div class="square" ng-click="move(9)" [style.background-color]=${color[9]}>&nbsp;</div>
            <div class="square" ng-click="move(10)" [style.background-color]=${color[10]}>&nbsp;</div>
            <div class="square" ng-click="move(11)" [style.background-color]=${color[11]}>&nbsp;</div>
            <div class="square" ng-click="move(12)" [style.background-color]=${color[12]}>&nbsp;</div>
            <div class="square" ng-click="move(13)" [style.background-color]=${color[13]}>&nbsp;</div>
            <div class="square" ng-click="move(14)" [style.background-color]=${color[14]}>&nbsp;</div>
            <div class="square" ng-click="move(15)" [style.background-color]=${color[15]}>&nbsp;</div>
            <div class="square" ng-click="move(16)" [style.background-color]=${color[16]}>&nbsp;</div>
        </div>
        <div class="row">
            <div class="square" ng-click="move(17)" [style.background-color]=${color[17]}>&nbsp;</div>
            <div class="square" ng-click="move(18)" [style.background-color]=${color[18]}>&nbsp;</div>
            <div class="square" ng-click="move(19)" [style.background-color]=${color[19]}>&nbsp;</div>
            <div class="square" ng-click="move(20)" [style.background-color]=${color[20]}>&nbsp;</div>
            <div class="square" ng-click="move(21)" [style.background-color]=${color[21]}>&nbsp;</div>
            <div class="square" ng-click="move(22)" [style.background-color]=${color[22]}>&nbsp;</div>
            <div class="square" ng-click="move(23)" [style.background-color]=${color[23]}>&nbsp;</div>
            <div class="square" ng-click="move(24)" [style.background-color]=${color[24]}>&nbsp;</div>
        </div>
    </div>
</div>