<div id="game">
    <div id="user"><h6>{{ user.name}}</h6></div>
    <div class="sub-header">{{game.name}}</div>
    <div id="win message">{{ winner }}</div>
    <div class="gameboard">
        <div class="row">
            <div class="square" ng-click="move(1)">&nbsp;{{gamestate[1]}}</div>
            <div class="square" ng-click="move(2)">&nbsp;{{gamestate[2]}}</div>
            <div class="square" ng-click="move(3)">&nbsp;{{gamestate[3]}}</div>
            <div class="square" ng-click="move(4)">&nbsp;{{gamestate[4]}}</div>
            <div class="square" ng-click="move(5)">&nbsp;{{gamestate[5]}}</div>
            <div class="square" ng-click="move(6)">&nbsp;{{gamestate[6]}}</div>
            <div class="square" ng-click="move(7)">&nbsp;{{gamestate[7]}}</div>
            <div class="square" ng-click="move(8)">&nbsp;{{gamestate[8]}}</div>
        </div>
        <div class="row">
            <div class="square" ng-click="move(9)">&nbsp;{{gamestate[9]}}</div>
            <div class="square" ng-click="move(10)">&nbsp;{{gamestate[10]}}</div>
            <div class="square" ng-click="move(11)">&nbsp;{{gamestate[11]}}</div>
            <div class="square" ng-click="move(12)">&nbsp;{{gamestate[12]}}</div>
            <div class="square" ng-click="move(13)">&nbsp;{{gamestate[13]}}</div>
            <div class="square" ng-click="move(14)">&nbsp;{{gamestate[14]}}</div>
            <div class="square" ng-click="move(15)">&nbsp;{{gamestate[15]}}</div>
            <div class="square" ng-click="move(16)">&nbsp;{{gamestate[16]}}</div>
        </div>
        <div class="row">
            <div class="square" ng-click="move(17)">&nbsp;{{gamestate[17]}}</div>
            <div class="square" ng-click="move(18)">&nbsp;{{gamestate[18]}}</div>
            <div class="square" ng-click="move(19)">&nbsp;{{gamestate[19]}}</div>
            <div class="square" ng-click="move(20)">&nbsp;{{gamestate[20]}}</div>
            <div class="square" ng-click="move(21)">&nbsp;{{gamestate[21]}}</div>
            <div class="square" ng-click="move(22)">&nbsp;{{gamestate[22]}}</div>
            <div class="square" ng-click="move(23)">&nbsp;{{gamestate[23]}}</div>
            <div class="square" ng-click="move(24)">&nbsp;{{gamestate[24]}}</div>
        </div>
    </div>
</div>